In [ ]:
import numpy as np
exam_data= {'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd

In [ ]:
df= pd.DataFrame(exam_data)
df

In [ ]:
df.head()

In [ ]:
df.dropna(inplace= True)
df

In [ ]:
df[['name','score']]

In [ ]:
k= {'name':["Suresh"],
    'score':["15.5"],
    'qualify':["yes"],
    'attemps':["1"]}
df1= pd.DataFrame(k)
exam_data= pd.concat([df,df1])
exam_data

In [ ]:
df[['name','score','qualify']]

In [ ]:
exam_data.drop('attempts',axis=1,inplace= True)

In [ ]:
exam_data

In [ ]:
Success= []
for i in df['score']:
    if i>10:
      i= 1
      Success.append(i)
    else:
      i=0
      Success.append(i)
print(Success)
df["SUCCESS"]= Success
df

In [ ]:
exam_data.to_csv
("my_data.csv")